.img-full-w {
  max-width: 100%;
  height: auto;
}

.img-full-h {
  max-height: 100%;
  width: auto;
}

.text-ellipsis-constraints {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border: 1px solid #62a7b5;
  border-radius: 10px;
  padding-top: 20px;
}

.h-500 {
  height: 500px !important;
}

.h-400 {
  height: 400px !important;
}

.h-300 {
  height: 300px !important;
}

.h-200 {
  height: 200px !important;
}

.h-100 {
  height: 100px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100px !important;
}
