.img-full-w {
  max-width: 100%;
  height: auto;
}

.img-full-h {
  max-height: 100%;
  width: auto;
}

.text-ellipsis-constraints {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
